In [1]:
!pip install docx2txt

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: docx2txt in c:\users\raghavendra urs hr\appdata\roaming\python\python39\site-packages (0.8)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install strsimpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: strsimpy in c:\users\raghavendra urs hr\appdata\roaming\python\python39\site-packages (0.2.1)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install docx2csv==0.1.0

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: docx2csv==0.1.0 in c:\users\raghavendra urs hr\appdata\roaming\python\python39\site-packages (0.1.0)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from docx2csv==0.1.0) (8.0.4)
Requirement already satisfied: python-docx in c:\users\raghavendra urs hr\appdata\roaming\python\python39\site-packages (from docx2csv==0.1.0) (0.8.11)
Requirement already satisfied: xlwt in c:\users\raghavendra urs hr\appdata\roaming\python\python39\site-packages (from docx2csv==0.1.0) (1.3.0)
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (from docx2csv==0.1.0) (3.0.10)
Requirement already satisfied: colorama in c:\users\raghavendra urs hr\appdata\roaming\python\python39\site-packages (from click->docx2csv==0.1.0) (0.4.6)
Requirement already satisfied: et_xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl->docx2csv==0.1.0) (1.1.0)
Requirement already satisfied: lxml>=2.3.2 in c:\programdata\anaconda3\lib\site-packages (from python-docx->docx2csv==0.1.0) (4.9.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
from docx2csv import extract_tables, extract

In [5]:
tables = extract_tables('list-sec.docx')

In [6]:
from docx import Document
document = Document("list-sec.docx")

In [7]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [8]:
def read_docx_table(document,table_num):
  table = document.tables[table_num-1]
  data = [[cell.text for cell in row.cells] for row in table.rows]
  df = pd.DataFrame(data)
  return df

In [9]:
table_num=1
df = read_docx_table(document,table_num)
df.head()

    0                                                  1
0  P1  Analyze a complex computing problem and to app...
1  P2  Design, implement, and evaluate a computing-ba...
2  P3  Communicate effectively in a variety of profes...
3  P4  Recognize professional responsibilities and ma...
4  P5  Function effectively as a member or leader of ...

In [10]:
q1 = df.copy()

In [11]:
# assigning count vectorizer
count_vectorizer = CountVectorizer(stop_words='english', min_df=0.005)

In [12]:
q1[1] = q1[1].str.lower()
corpus = q1[1].tolist()
corpii = count_vectorizer.fit_transform(corpus)

In [13]:
corpii

<6x49 sparse matrix of type '<class 'numpy.int64'>'
	with 61 stored elements in Compressed Sparse Row format>

In [14]:
feature_names = count_vectorizer.get_feature_names()
feature_names

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['activities',
 'analyze',
 'apply',
 'appropriate',
 'based',
 'communicate',
 'complex',
 'computer',
 'computing',
 'context',
 'contexts',
 'design',
 'development',
 'discipline',
 'disciplines',
 'effectively',
 'engaged',
 'ethical',
 'evaluate',
 'function',
 'fundamentals',
 'given',
 'identify',
 'implement',
 'informed',
 'judgments',
 'leader',
 'legal',
 'make',
 'meet',
 'member',
 'practice',
 'principles',
 'problem',
 'produce',
 'professional',
 'program',
 'recognize',
 'relevant',
 'requirements',
 'responsibilities',
 'science',
 'set',
 'software',
 'solution',
 'solutions',
 'team',
 'theory',
 'variety']

In [15]:
len(feature_names)

49

In [16]:
X1 = pd.DataFrame(corpii.toarray(), columns=feature_names)
X1

,activities,analyze,apply,appropriate,based,communicate,complex,computer,computing,context,...,requirements,responsibilities,science,set,software,solution,solutions,team,theory,variety
0,0,1,1,0,0,0,1,0,2,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,1,0,0,0,2,1,...,1,0,0,1,0,1,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,1,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,0,0,1,0,1,0,0,1,1,0,...,0,0,1,0,1,0,1,0,1,0

In [17]:
table_num=2
df1 = read_docx_table(document,table_num)
p1 = df1.copy()
df1

        0                                                  1
0      C1                     Explain how AI impacts society
1      C2        Apply AI methods to perform practical tasks
2      C3                      Synthesize a simple AI system
3      C4  Evaluate different AI approaches to solve a pr...
4      C5  Explain the basic principles of the data minin...
..    ...                                                ...
116  C117  Function in groups to assess current ethical i...
117  C118  Define the computing requirements appropriate ...
118  C119  Apply knowledge of computer science theory and...
119  C120            Develop a computer science application.
120  C121  Function effectively on teams for the successf...

[121 rows x 2 columns]

In [18]:
p1[1] = p1[1].str.lower()
corpus11 = p1[1].tolist()
corpii11 = count_vectorizer.fit_transform(corpus11)

In [19]:
feature_names1 = count_vectorizer.get_feature_names()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [20]:
len(feature_names1)

311

In [21]:
X2 = pd.DataFrame(corpii11.toarray(), columns=feature_names1)

In [22]:
X2.head()

,accuracy,ai,algebra,algorithm,algorithmic,algorithms,analysis,analyze,analyzing,animation,...,visualization,visualize,web,work,workers,working,workplace,write,written,xml
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
# adding column index to the CLO table
U2 = pd.concat([df1[0], X2], axis=1)
U2.set_index(0, inplace=True)

In [24]:
U2.head()

,accuracy,ai,algebra,algorithm,algorithmic,algorithms,analysis,analyze,analyzing,animation,...,visualization,visualize,web,work,workers,working,workplace,write,written,xml
0,,,,,,,,,,,,,,,,,,,,,
C1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
U1 = pd.concat([df[0], X1], axis=1)
U1.set_index(0, inplace=True)

In [26]:
U1

,activities,analyze,apply,appropriate,based,communicate,complex,computer,computing,context,...,requirements,responsibilities,science,set,software,solution,solutions,team,theory,variety
0,,,,,,,,,,,,,,,,,,,,,
P1,0,1,1,0,0,0,1,0,2,0,...,0,0,0,0,0,0,1,0,0,0
P2,0,0,0,0,1,0,0,0,2,1,...,1,0,0,1,0,1,0,0,0,0
P3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
P4,0,0,0,0,1,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
P5,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
P6,0,0,1,0,1,0,0,1,1,0,...,0,0,1,0,1,0,1,0,1,0

In [27]:
append_words = list(map(str.lower,['Cite', 'Define', 'Describe', 'Draw', 'Enumerate', 'Identify' 'Index', 'Indicate', 'Label', 'List', 'Match', 'Meet', 'Name', 'Outline', 'Point', 'Quote', 'Read', 'Recall', 'Recite', 'Recognize', 'Record', 'Repeat', 'Reproduce','Review',
'Select', 'State', 'Study', 'Tabulate', 'Trace', 'Write', 'Add', 'Approximate', 'Articulate', 'Associate', 'Characterize', 'Clarify', 'Classify', 'Compare', 'Compute', 'Contrast', 'Convert', 'Defend', 'Detail', 'Differentiate',
'Discuss', 'Distinguish', 'Elaborate', 'Estimate', 'Example', 'Explain', 'Express', 'Extend', 'Extrapolate', 'Factor', 'Generalize', 'Give', 'Infer', 'Interact', 'Interpolate', 'Interpret', 'Observe', 'Paraphrase', 'Picture graphically',
'Predict', 'Rewrite', 'Subtract', 'Summarize', 'Translate', 'Visualize', 'Acquire', 'Adapt', 'Allocate', 'Alphabetize', 'Apply', 'Ascertain', 'Assign', 'Attain', 'Avoid', 'Back up', 'Calculate', 'Capture', 'Change', 'Complete', 'Construct', 
'Customize', 'Demonstrate', 'Depreciate', 'Derive', 'Determine', 'Diminish', 'Discover', 'Employ', 'Examine', 'Exercise', 'Explore', 'Expose', 'Figure', 'Graph', 'Handle', 'Illustrate', 'Interconvert', 'Investigate', 'Manipulate', 'Modify', 
'Operate', 'Personalize', 'Plot','Practice', 'Prepare', 'Price', 'Process', 'Produce', 'Project', 'Provide', 'Relate', 'Round off', 'Sequence', 'Show', 'Simulate', 'Sketch', 'Solve', 'Subscribe', 'Transcribe', 'Use', 'Analyze', 'Audit', 
'Blueprint', 'Breadboard', 'Break down', 'Confirm', 'Correlate', 'Detect', 'Diagnose', 'Diagram', 'Discriminate', 'Dissect', 'Document', 'Ensure', 'Figure out', 'File', 'Group', 'Interrupt', 'Inventory', 'Layout', 'Manage', 'Maximize', 
'Minimize', 'Optimize', 'Order', 'Point out', 'Prioritize', 'Proofread', 'Query', 'Separate', 'Subdivide', 'Train', 'Transform', 'Appraise', 'Assess', 'Conclude', 'Counsel', 'Criticize', 'Critique', 'Evaluate', 'Grade', 'Hire', 'Judge', 
'Justify', 'Measure', 'Prescribe', 'Rank', 'Rate', 'Recommend', 'Release', 'Support', 'Test', 'Validate', 'Verify', 'Abstract', 'Animate', 'Arrange', 'Assemble', 'Budget', 'Categorize', 'Code', 'Combine', 'Compile', 'Compose', 'Cope', 
'Correspond', 'Create', 'Cultivate', 'Debug', 'Depict', 'Design', 'Develop', 'Devise', 'Dictate', 'Enhance', 'Facilitate', 'Format', 'Formulate', 'Generate', 'Import', 'Improve', 'Incorporate', 'Integrate', 'Interface', 'Join', 'Lecture', 
'Model', 'Network', 'Organize', 'Overhaul', 'Plan', 'Portray', 'Program', 'Rearrange', 'Reconstruct', 'Reorganize', 'Revise', 'Specify']))

In [28]:
train_column = feature_names + append_words
train_column

['activities',
 'analyze',
 'apply',
 'appropriate',
 'based',
 'communicate',
 'complex',
 'computer',
 'computing',
 'context',
 'contexts',
 'design',
 'development',
 'discipline',
 'disciplines',
 'effectively',
 'engaged',
 'ethical',
 'evaluate',
 'function',
 'fundamentals',
 'given',
 'identify',
 'implement',
 'informed',
 'judgments',
 'leader',
 'legal',
 'make',
 'meet',
 'member',
 'practice',
 'principles',
 'problem',
 'produce',
 'professional',
 'program',
 'recognize',
 'relevant',
 'requirements',
 'responsibilities',
 'science',
 'set',
 'software',
 'solution',
 'solutions',
 'team',
 'theory',
 'variety',
 'cite',
 'define',
 'describe',
 'draw',
 'enumerate',
 'identifyindex',
 'indicate',
 'label',
 'list',
 'match',
 'meet',
 'name',
 'outline',
 'point',
 'quote',
 'read',
 'recall',
 'recite',
 'recognize',
 'record',
 'repeat',
 'reproduce',
 'review',
 'select',
 'state',
 'study',
 'tabulate',
 'trace',
 'write',
 'add',
 'approximate',
 'articulate',
 'associate',
 'characterize',
 'clarify',
 'classify',
 'compare',
 'compute',
 'contrast',
 'convert',
 'defend',
 'detail',
 'differentiate',
 'discuss',
 'distinguish',
 'elaborate',
 'estimate',
 'example',
 'explain',
 'express',
 'extend',
 'extrapolate',
 'factor',
 'generalize',
 'give',
 'infer',
 'interact',
 'interpolate',
 'interpret',
 'observe',
 'paraphrase',
 'picture graphically',
 'predict',
 'rewrite',
 'subtract',
 'summarize',
 'translate',
 'visualize',
 'acquire',
 'adapt',
 'allocate',
 'alphabetize',
 'apply',
 'ascertain',
 'assign',
 'attain',
 'avoid',
 'back up',
 'calculate',
 'capture',
 'change',
 'complete',
 'construct',
 'customize',
 'demonstrate',
 'depreciate',
 'derive',
 'determine',
 'diminish',
 'discover',
 'employ',
 'examine',
 'exercise',
 'explore',
 'expose',
 'figure',
 'graph',
 'handle',
 'illustrate',
 'interconvert',
 'investigate',
 'manipulate',
 'modify',
 'operate',
 'personalize',
 'plot',
 'practice',
 'prepare',
 'price',
 'process',
 'produce',
 'project',
 'provide',
 'relate',
 'round off',
 'sequence',
 'show',
 'simulate',
 'sketch',
 'solve',
 'subscribe',
 'transcribe',
 'use',
 'analyze',
 'audit',
 'blueprint',
 'breadboard',
 'break down',
 'confirm',
 'correlate',
 'detect',
 'diagnose',
 'diagram',
 'discriminate',
 'dissect',
 'document',
 'ensure',
 'figure out',
 'file',
 'group',
 'interrupt',
 'inventory',
 'layout',
 'manage',
 'maximize',
 'minimize',
 'optimize',
 'order',
 'point out',
 'prioritize',
 'proofread',
 'query',
 'separate',
 'subdivide',
 'train',
 'transform',
 'appraise',
 'assess',
 'conclude',
 'counsel',
 'criticize',
 'critique',
 'evaluate',
 'grade',
 'hire',
 'judge',
 'justify',
 'measure',
 'prescribe',
 'rank',
 'rate',
 'recommend',
 'release',
 'support',
 'test',
 'validate',
 'verify',
 'abstract',
 'animate',
 'arrange',
 'assemble',
 'budget',
 'categorize',
 'code',
 'combine',
 'compile',
 'compose',
 'cope',
 'correspond',
 'create',
 'cultivate',
 'debug',
 'depict',
 'design',
 'develop',
 'devise',
 'dictate',
 'enhance',
 'facilitate',
 'format',
 'formulate',
 'generate',
 'import',
 'improve',
 'incorporate',
 'integrate',
 'interface',
 'join',
 'lecture',
 'model',
 'network',
 'organize',
 'overhaul',
 'plan',
 'portray',
 'program',
 'rearrange',
 'reconstruct',
 'reorganize',
 'revise',
 'specify']

In [29]:
# CLO list of words
test_column = feature_names1

In [30]:
train_column = feature_names + append_words # (PLO table ) (# using + operator to concat PLO words and list of generalized words)
test_column = feature_names1   # (CLO table)

In [31]:
common_column = list(set(train_column).intersection(set(test_column)))
common_column

['function',
 'complete',
 'given',
 'science',
 'visualize',
 'theory',
 'program',
 'fundamentals',
 'code',
 'project',
 'manipulate',
 'apply',
 'define',
 'discover',
 'appropriate',
 'communicate',
 'prepare',
 'team',
 'explain',
 'complex',
 'assess',
 'create',
 'sequence',
 'discuss',
 'evaluate',
 'use',
 'file',
 'identify',
 'layout',
 'effectively',
 'determine',
 'development',
 'test',
 'outline',
 'computer',
 'demonstrate',
 'software',
 'write',
 'estimate',
 'recognize',
 'solve',
 'design',
 'translate',
 'based',
 'customize',
 'diagram',
 'ethical',
 'query',
 'analyze',
 'produce',
 'process',
 'develop',
 'implement',
 'select',
 'solution',
 'problem',
 'requirements',
 'computing',
 'principles',
 'interface',
 'compare',
 'model']

In [32]:
print(common_column)

['function', 'complete', 'given', 'science', 'visualize', 'theory', 'program', 'fundamentals', 'code', 'project', 'manipulate', 'apply', 'define', 'discover', 'appropriate', 'communicate', 'prepare', 'team', 'explain', 'complex', 'assess', 'create', 'sequence', 'discuss', 'evaluate', 'use', 'file', 'identify', 'layout', 'effectively', 'determine', 'development', 'test', 'outline', 'computer', 'demonstrate', 'software', 'write', 'estimate', 'recognize', 'solve', 'design', 'translate', 'based', 'customize', 'diagram', 'ethical', 'query', 'analyze', 'produce', 'process', 'develop', 'implement', 'select', 'solution', 'problem', 'requirements', 'computing', 'principles', 'interface', 'compare', 'model']

In [33]:
len(common_column)

62

In [34]:
U3 = U2.filter(list(common_column), axis=1)

In [35]:
U3.head()

,function,complete,given,science,visualize,theory,program,fundamentals,code,project,...,implement,select,solution,problem,requirements,computing,principles,interface,compare,model
0,,,,,,,,,,,,,,,,,,,,,
C1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
C5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [36]:
U1

,activities,analyze,apply,appropriate,based,communicate,complex,computer,computing,context,...,requirements,responsibilities,science,set,software,solution,solutions,team,theory,variety
0,,,,,,,,,,,,,,,,,,,,,
P1,0,1,1,0,0,0,1,0,2,0,...,0,0,0,0,0,0,1,0,0,0
P2,0,0,0,0,1,0,0,0,2,1,...,1,0,0,1,0,1,0,0,0,0
P3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
P4,0,0,0,0,1,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
P5,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
P6,0,0,1,0,1,0,0,1,1,0,...,0,0,1,0,1,0,1,0,1,0

In [37]:
Cs = []
for x in range(len(df)):
    Cs.append(U1.loc[['P'+str(x+1)]])

In [38]:
Dds = []
for x in range(len(df)):
    Dds.append(pd.concat([Cs[x],U3], sort=True))

In [39]:
Ds = []
for x in range(len(df)):
    Ds.append(Dds[x].fillna(0))

In [40]:
for x in range(len(df)):
    Dds[x] = pd.DataFrame(cosine_similarity(Ds[x], dense_output=True))

In [41]:
for x in range(len(df)):
    Dds[x].rename(columns = {0 :'P'+str(x+1)}, inplace = True)

In [42]:
Ddn = []
for x in range(len(df)):
    Ddn.append(Dds[x]['P'+str(x+1)])

d = pd.concat(Ddn, axis=1)

In [43]:
dd = d[1:]

In [65]:
dd.to_csv('cmc.csv', index=False)
rt=dd.copy()
rn=dd.copy()

In [66]:
print(dd)

           P1        P2        P3        P4        P5        P6
1    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2    0.277350  0.000000  0.000000  0.000000  0.000000  0.301511
3    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
4    0.160128  0.144338  0.000000  0.000000  0.000000  0.000000
5    0.160128  0.000000  0.000000  0.166667  0.000000  0.000000
..        ...       ...       ...       ...       ...       ...
117  0.000000  0.000000  0.223607  0.144338  0.158114  0.000000
118  0.196116  0.441942  0.000000  0.102062  0.111803  0.319801
119  0.124035  0.000000  0.000000  0.000000  0.000000  0.539360
120  0.000000  0.000000  0.000000  0.000000  0.000000  0.348155
121  0.000000  0.000000  0.258199  0.000000  0.365148  0.000000

[121 rows x 6 columns]

In [67]:
for x in range(len(df)):
    for y in range(1,122):
        if rt['P'+str(x+1)][y] == 0:
            rn['P'+str(x+1)][y]=0
        elif rt['P'+str(x+1)][y] <=0.155:
            rn['P'+str(x+1)][y]=1
        else:
            rn['P'+str(x+1)][y]=2
         
rn

      P1   P2   P3   P4   P5   P6
1    0.0  0.0  0.0  0.0  0.0  0.0
2    2.0  0.0  0.0  0.0  0.0  2.0
3    0.0  0.0  0.0  0.0  0.0  0.0
4    2.0  1.0  0.0  0.0  0.0  0.0
5    2.0  0.0  0.0  2.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...
117  0.0  0.0  2.0  1.0  2.0  0.0
118  2.0  2.0  0.0  1.0  1.0  2.0
119  1.0  0.0  0.0  0.0  0.0  2.0
120  0.0  0.0  0.0  0.0  0.0  2.0
121  0.0  0.0  2.0  0.0  2.0  0.0

[121 rows x 6 columns]

In [68]:
d= pd.read_csv('data.csv')
a1=d.copy()
a2=d.copy()
d.head()

         P1        P2   P3        P4   P5        P6
0  0.000000  0.000000  0.0  0.000000  0.0  0.000000
1  0.277350  0.000000  0.0  0.000000  0.0  0.301511
2  0.000000  0.000000  0.0  0.000000  0.0  0.000000
3  0.160128  0.144338  0.0  0.000000  0.0  0.000000
4  0.160128  0.000000  0.0  0.166667  0.0  0.000000

In [69]:
for x in range(len(df)):
    for y in range(1,121):
        if a1['P'+str(x+1)][y] ==0:
            a2['P'+str(x+1)][y]=0
        elif a1['P'+str(x+1)][y] <= 0.155:
            a2['P'+str(x+1)][y]=1
        else:
            a2['P'+str(x+1)][y]=2
         
a2

      P1   P2   P3   P4   P5   P6
0    0.0  0.0  0.0  0.0  0.0  0.0
1    2.0  0.0  0.0  0.0  0.0  2.0
2    0.0  0.0  0.0  0.0  0.0  0.0
3    2.0  1.0  0.0  0.0  0.0  0.0
4    2.0  0.0  0.0  2.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...
116  0.0  0.0  2.0  1.0  2.0  0.0
117  2.0  2.0  0.0  1.0  1.0  2.0
118  1.0  0.0  0.0  0.0  0.0  2.0
119  0.0  0.0  0.0  0.0  0.0  2.0
120  0.0  0.0  2.0  0.0  2.0  0.0

[121 rows x 6 columns]

In [71]:
df3 = d.copy()

In [77]:
for x in range(len(df)):
    for y in range(0,121):
#         if y in a2.index and y in rn.index:
            if a2['P'+str(x+1)][y] == 2 or rn['P'+str(x+1)][y+1] == 2:
                df3['P'+str(x+1)][y]=2
            elif  a2['P'+str(x+1)][y] == 1 or rn['P'+str(x+1)][y+1] == 1:
                  df3['P'+str(x+1)][y]=1
            else:
                  df3['P'+str(x+1)][y]=0
            
        # Perform some other operation
       
df3

      P1   P2   P3   P4   P5   P6       acc
0    0.0  0.0  0.0  0.0  0.0  0.0  0.000000
1    2.0  0.0  0.0  0.0  0.0  2.0  0.000000
2    0.0  0.0  0.0  0.0  0.0  0.0  0.000000
3    2.0  1.0  0.0  0.0  0.0  0.0  0.333333
4    2.0  0.0  0.0  2.0  0.0  0.0  0.000000
..   ...  ...  ...  ...  ...  ...       ...
116  0.0  0.0  2.0  1.0  2.0  0.0  0.333333
117  2.0  2.0  0.0  1.0  1.0  2.0  0.666667
118  1.0  0.0  0.0  0.0  0.0  2.0  0.333333
119  0.0  0.0  0.0  0.0  0.0  2.0  0.000000
120  0.0  0.0  2.0  0.0  2.0  0.0  0.000000

[121 rows x 7 columns]

In [78]:
df3['acc'] = df3.mean(axis=1)

In [79]:
df4 = pd.concat([df1[0], df3], axis=1)

In [80]:
df4 = pd.concat([df1[0], df3], axis=1)
df4.head()

    0   P1   P2   P3   P4   P5   P6       acc
0  C1  0.0  0.0  0.0  0.0  0.0  0.0  0.000000
1  C2  2.0  0.0  0.0  0.0  0.0  2.0  0.571429
2  C3  0.0  0.0  0.0  0.0  0.0  0.0  0.000000
3  C4  2.0  1.0  0.0  0.0  0.0  0.0  0.476190
4  C5  2.0  0.0  0.0  2.0  0.0  0.0  0.571429

In [81]:
df4.set_index(0, inplace=True)
df4.head()

     P1   P2   P3   P4   P5   P6       acc
0
C1  0.0  0.0  0.0  0.0  0.0  0.0  0.000000
C2  2.0  0.0  0.0  0.0  0.0  2.0  0.571429
C3  0.0  0.0  0.0  0.0  0.0  0.0  0.000000
C4  2.0  1.0  0.0  0.0  0.0  0.0  0.476190
C5  2.0  0.0  0.0  2.0  0.0  0.0  0.571429

In [82]:
df4['acc'].mean()

0.3234946871310507